{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Cookbook
{% endblock %}
{% block navtitle %} The Cookbook {% endblock %}

{% block extraheaders %}
	<link href="{% static "css/index.css" %}" rel="stylesheet" media="screen">
	<script src="{% static "js/index.js" %}"></script>
	<script src="{% static "js/leap-controller-index.js" %}"></script>
{% endblock %}

{% block content %}
<div class="banner" class="jumbotron">
</div>
<div id="main" class="container body-margin">
	<div class="row">
		<div class="col-md-12">	
			<ul id="recipes">
				{% for recipe in recipes %}
					<li {% if forloop.first %}class="active recipe-item"{% else %} class="recipe-item" {% endif %} value="{{recipe.id}}"> 
						<div class="text-center">
							{% if recipe.avatar %}
								<img width=100% height=200px src="{{MEDIA_URL}}{{recipe.avatar}}"/>
							{% endif %}
							<p>{{recipe.name}}</p>
						</div>
					</li>
				{% endfor %}	
			</ul>
		</div>
	</div>
</div>
{% endblock %}
