{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="{% static "css/bookblock/jquery.jscrollpane.custom.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/bookblock/bookblock.css" %}" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
		<link rel="stylesheet" type="text/css" href="{% static "css/bookblock/custom.css" %}" />
		<script src="{% static "js/bookblock/modernizr.custom.79639.js" %}"></script>
		<script src="{% static "js/leap-0.4.3.min.js" %}"></script>
	</head>
	<body>
		<div id="container" class="container">	
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item">
						<div class="content">
							<div class="scroller">
								<h2> Ingredients </h2>
								<div class="box">
									<div class="div1">
										<div class="container">
											<ul>
											{% for ingredient in ingredients %}
												<li>{{ingredient.details}}</li>
											{% endfor %}
											</ul>
										</div>
									</div>
									<div class="div2">
										<div class="container">
											<img class="book-image" src="{{MEDIA_URL}}/images/ingredients.jpg"/>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
					{% for step in steps %}
					<div class="bb-item">
						<div class="content">
							<div class="scroller">
								<h2>Step {{step.number}}</h2>
								<div class="box">
									<div class="div1">
										<span>{{step.details}}</span>
									</div>
									<div class="div2">
										{% if step.avatar %}
											<img src="{{step.avatar.url}}"/>
										{% endif %}
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<nav>
					<span id="bb-nav-prev">&larr;</span>
					<span id="bb-nav-next">&rarr;</span>
				</nav>

			</div>
				
		</div><!-- /container -->
		<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
		<script src="{% static "js/bookblock/jquery.mousewheel.js" %}"></script>
		<script src="{% static "js/bookblock/jquery.jscrollpane.min.js" %}"></script>
		<script src="{% static "js/bookblock/jquerypp.custom.js" %}"></script>
		<script src="{% static "js/bookblock/jquery.bookblock.js" %}"></script>
		<script src="{% static "js/bookblock/page.js" %}"></script>
		<script src="{% static "js/leap-controller-recipe.js" %}"></script>
		<script>
			$(function() {

				Page.init();

			});
		</script>
	</body>
</html>

