{% extends "base.html" %}
{% load staticfiles %}
{% block extraheaders %}
	<link href="{% static "css/jquery.fullPage.css" %}" rel="stylesheet" media="screen">
	<script src="{% static "js/jquery.easings.min.js" %}"></script>
	<script src="{% static "js/jquery.slimscroll.min.js" %}"></script>
	<script src="{% static "js/jquery.fullPage.min.js" %}"></script>
{% endblock %}
{% block title %}
Cookbook
{% endblock %}

{% block navtitle %}
{{recipe.name}}
{% endblock %}

{% block content %}
<div id="main" class="container body-margin">
	<div class="section">
		{% for step in steps %}
			<div class="slide" data-anchor="slide{{forloop.counter}}"> <p class="text-center"> {{step.details}} </p> </div>
		{% endfor %}
	</div>


	<script>
		$(document).ready(function() {
			$.fn.fullpage({
				loopHorizontal: false
			});
		});
	</script>
</div>
{% endblock %}
