{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Cookbook: Search Results
{% endblock %}

{% block extraheaders %}
	<link href="{% static "css/index.css" %}" rel="stylesheet" media="screen">
	<script src="{% static "js/index.js" %}"></script>
	<script src="{% static "js/leap-controller-search.js" %}"></script>
{% endblock %}
{% block content %}
<div class="banner-search" class="jumbotron">
	<span class="glyphicon glyphicon-search bannertext">
</div>
<div class="body-content">
	<div class="wrapper">
		<ul id="recipes">
			{% for recipe in recipes %}
				<li {% if forloop.first %}class="active recipe-item"{% else %} class="recipe-item" {% endif %} value="{{recipe.id}}"> 
					<div class="text-center recipe-card">
						<div class="recipe-card-image-container">
							{% if recipe.avatar %}
								<img class="recipe-card-image" src="{{recipe.avatar.url}}"/>
							{% endif %}
							</div>
						<div class="recipe-card-name">
							<div class="text-bottom">
								<span class="text-spacing recipe-name">{{recipe.name}}</span>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}	
		</ul>
	</div>
</div>
{% endblock %}
