.body-margin{
	margin-top: 100px;
}

body{
	background:gray;
}

#recipes{
	margin-bottom: 30px;
	overflow: hidden;
}

#recipes li {
	list-style-type: none;
	position: relative;
	float: left;
	width:20%;
}

#recipes li div {
	margin: 5px;
	height:225px;
	background:green;
}

.active {
	background:yellow;
}
