body{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

#title{
	font-size: 22.5px;
	letter-spacing: 2.5px;
}

.banner{
	background-image: url("/static/img/recipegood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 50px;
	height: 700px;
	width: 100%; 
}

.banner-search{
	background-image: url("/static/img/dip.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -100px;
	height: 400px;
	width: 100%;
    opacity:1;
}

.bannertext{
	position:absolute;
	font-size: 25px;
	top: 10px;
	left: 10px;
	color: #fff;
}

.logo h1{
	font-size: 100px;
	position:absolute;
	top: 100px;
	right: 200px;
}

#search{
	display:none;
}

.text-spacing{
	letter-spacing: 1px;
}

.recipe-name{
	font-size: 15px;
	color: #fff;
}

.body-margin{
	padding-top: 20px;
}

.body-content{
	position: relative;
	min-height: 65%;
}

#recipe-item{
	
}

#recipes{
	margin:0;
	padding:9;
	margin-bottom: 30px;
	overflow: hidden;
}

#recipes li {
	list-style-type: none;
	position: relative;
	float: left;

}

.wrapper{
	margin:auto;
	width:90%;
}

#recipes li{
	width:20%;
}

#recipes li p {
	color: white;
}

.recipe-card{
	position:relative;
	height: 300px;
	width: 250px;
	border-radius: 5px;
	margin: 10px;
	background-color: rgb(56, 56, 56);
}

.recipe-card-image-container{
	position: relative;
	height: 250px;
	width: 100%;
}

.recipe-card-image{
	height: 100%;
	width: 100%;
}

.recipe-card-name{
	position:relative;
	height: 50px;
	width: 100%;
}

.text-bottom{
	position:absolute;
	bottom: 20px; left: 0; right: 0;
}

.active > div{
	box-shadow: 0 0 30px rgb(241, 93, 88);
    -webkit-box-shadow: 0 0 40px rgb(241, 93, 88); 
    -moz-box-shadow: 0 0 30px rgb(241, 93, 88);
}

#footer{
	height: 60px;
	background-color: #222222;
}

#footer ul{
	margin: 20px auto;
	padding: 0;
	display: table;
	list-style: none;
}

#footer ul li{
	float: left;
	padding-right: 25px;
}

