body{
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	background:rgb(240, 238, 229);
}

.banner{
	background-image: url("/static/img/recipefull.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -350px;
	height: 600px;
	width: 100%; 
}

.logo h1{
	font-size: 100px;
	position:absolute;
	top: 100px;
	right: 200px;
}

#search{
	display:none;
}

.recipe-tag{
	z-index: 0;
}

.body-margin{
	padding-top: 100px;
}

#recipes{
	margin-bottom: 30px;
	overflow: hidden;
}

#recipes li {
	list-style-type: none;
	position: relative;
	float: left;
	width:20%;
}

#recipes li div {
	margin: 5px;
	height:230px;
	background-color: rgb(56, 56, 56);
}

#recipes li p {
	color: white;
}

.active {
	background:rgb(241, 93, 88);
}
