body{
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	background:rgb(240, 238, 229);
}

.banner{
	background-image: url("/static/img/dip.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 100%; 
}

.bannertext{
	position:absolute;
	font-size: 75px;
	top: 250px;
	right: 150px;
	color: #fff;
}

.logo h1{
	font-size: 100px;
	position:absolute;
	top: 100px;
	right: 200px;
}

#search{
	display:none;
}

.body-margin{
	padding-top: 20px;
}

#recipe-item{
	
}

#recipes{
	margin:0;
	padding:9;
	margin-bottom: 30px;
	overflow: hidden;
}

#recipes li {
	list-style-type: none;
	position: relative;
	float: left;
	width:20%;
}

#recipes li div {
	border-radius:5px;
	margin: 10px;
	height:250px;
	background-color: rgb(56, 56, 56);
}

.wrapper{
	margin:auto;
	width:90%;
}

#recipes li p {
	color: white;
}

.active div{
	border-color:rgb(241, 93, 88);
	border-style:solid;
	border-width:5px;
}
