{% load staticfiles %}
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Leapstrap -->
		<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" media="screen">
		<!-- jQuery (necessary for Leapstrap's JavaScript plugins) -->
		<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
		<!-- Leap (http://js.leapmotion.com/) -->
		<script src="{% static "js/leap-0.4.3.min.js" %}"></script>
		<!-- Leapstrap -->
		<script src="{% static "js/leap-controller.js" %}"></script>
		<link href="{% static "css/index.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" media="screen">
		{% block extraheaders %} {% endblock %}
		<title> {% block title %} {% endblock %} </title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top recipe-tag">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">{% block navtitle %}{% endblock %}</a>
				</div>
			</div>
		</div>
		<form id="search" action="/search/" method="get">
			<input id="search-text" type="text" name="q">
			<input type="submit" value="Search">
		</form>
		{% block content %} {% endblock %}
		<script type="text/javascript" src="{% static "js/annyang.min.js" %}"></script>
		<script>

		var banana = function(){
			console.log('banana');
		}

		var search = function(query){
			console.log(query);
			$('#search-text').val(query);
			$('#search').submit();
		}

		if (annyang) {
			// Let's define a command.
			console.log('working');
			var commands = {
			'banana': banana,
			'search *search': search,
			};

			// Add our commands to annyang
			annyang.addCommands(commands);

			// Start listening.
			annyang.start();
		}
		</script>
	<body>
</html>
